/* Inner */
.wrapper .inner {
	width: 70%;
}

/* About Header */
.wrapper .inner #about-header {
	margin-bottom: 2em;
	padding      : 2em 0;
}


/* Profile Photo */
.wrapper .inner #about-header img {
	float        : left;
	width        : 30%;
	height       : 30%;
	border-radius: 5%;
	border       : 1px solid #262626;
}


/* Skill */
.wrapper .inner #about-header #favorite-chart {
	float      : left;
	margin-left: 2em;
	width: 60%;
}


/* Article Paragraph */
.wrapper .inner p {
	font-size   : 0.9em;
	text-align  : justify;
	text-justify: inter-ideograph;
	word-wrap   : break-word; 
}
