/* Inner */
.wrapper .inner {
	width: 70%;
}

/* About Header */
.wrapper .inner #about-header {
	margin-bottom: 2em;
	padding      : 2em 0;
}


/* Profile Photo */
.wrapper .inner #about-header img {
	float        : left;
	width        : 30%;
	height       : 30%;
	border-radius: 5%;
	border       : 1px solid #262626;
	margin-left  : 1em;
}


/* Skill */
.wrapper .inner #about-header #favorite-chart {
	float       : right;
	width       : 60%;
	margin-right: 1em;
}


/* Article Paragraph */
.wrapper .inner p {
	font-size   : 0.9em;
	text-align  : justify;
	text-justify: inter-ideograph;
	word-wrap   : break-word; 
}

/* Responsive Layout*/
@media screen and (max-width: 1000px) {
	
	.wrapper .inner #about-header img {
		display      : inline-block;
		margin       : 1em auto;
		width        : 40%;
		height       : 40%;
		border-radius: 100%;
		
	}

	.wrapper .inner #about-header #favorite-chart {
		width: 100%;
	}

}
