/* Inner */
.wrapper .inner {
	width: 70%;
}

/* Profile Photo */
.wrapper .inner .image img {
	width        : 30%;
	height       : 30%;
	margin       : 0 auto 2em;
	border-radius: 100%;
}

/* Article Paragraph */
.wrapper .inner p {
	font-size   : 0.9em;
	text-align  : justify;
	text-justify: inter-ideograph;
	word-wrap   : break-word; 
	/*word-break  : break-all;*/
}