#about {
    background-color: rgba(29,36,42,0.7);
    width: 70%;
    margin: 5em auto 3em;
    padding: 3em 2em;
    border-radius: 15px;
}

#quote {
    margin-top: 3em;
    width: 70%;
}

/* Inner */
.wrapper .inner {
	width: 100%;
}

/* About Header */
.wrapper .inner #about-header {
	margin-bottom: 2em;
	height       : 300px;
}


/* Profile Photo */
.wrapper .inner #about-header img {
	max-height    : 300px;
	max-width     : 300px;
	border-radius : 5%;
	border        : 1px solid #262626;
	display       : inline-block;
	float         : left;
	vertical-align: middle;
	margin: 0;
}


/* Skill */
.wrapper .inner #about-header #favorite-chart {
	width  : 65%;
	display: inline-block;
	float  : right;
}

/* Title */

.wrapper .inner h3 {
	text-transform: capitalize;
	margin-bottom: 0.2em;
	letter-spacing: 0.1em;
}

.wrapper .inner h5 {
	text-transform: capitalize;
	margin-bottom: 2em;
	letter-spacing: 0.1em;
}

/* Article Paragraph */
.wrapper .inner p {
	font-size   : 0.9em;
	text-align  : justify;
	text-justify: inter-ideograph;
	word-wrap   : break-word;
}

/* Timesheet */
#timesheet {
    width: 80%;
    height: 100%;
    background-color: rgba(29,36,42,0);
    margin: 3em auto 0 auto;
    padding: 0.7em 0;
    border-style: none;
}

#timesheet .scale section {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: white;
    width: 120px;
}

#timesheet .scale section:first-of-type {
    border: none;
}

#timesheet .data {
    font-family: "Open Sans", Helvetica, sans-serif;
}

#timesheet .data li {
    margin-bottom: 1.2em;
}

#timesheet .data li .date{
    display: none;
}
#timesheet .data li .label {
    color: #e0e0e0;
    font-size: 90%;
}

.timesheet .data li .bubble {
    height: 10px;
}

#timesheet .bubble-default {
  background-color: #DB843D;
}
#timesheet .bubble-lorem {
  background-color: #89A54E;
}
#timesheet .bubble-ipsum {
  background-color: #DAA520;
}
#timesheet .bubble-dolor {
  background-color: #4572A7;
}
#timesheet .bubble-sit {
  background-color: #AA4643;
}

/* Responsive Layout*/
@media screen and (max-width: 1200px) {

	.wrapper .inner #about-header {
		height: 100%;
	}

	.wrapper .inner #about-header img {
		float        : none;
		display      : block;
		margin       : 2em auto;
		width        : 60%;
		height       : 60%;
		border-radius: 100%;
	}

	.wrapper .inner #about-header #favorite-chart {
		float: none;
		width: 100%;
        margin: 0 auto;
	}

    #timesheet {
        display: none;
    }

}
