/* Hyperlink */
a {
	border-bottom: 0;
}

a:hover {
	color: orange;
}

ul {
	margin-bottom: 1em;
}

/* Navigator */
ul.nav {
	list-style-type : none;
	margin          : 0 0 3em 0;
	padding         : 0;
	overflow        : hidden;
	background-color: rgba(0, 0, 0, 0.4);
	text-align      : center;
}

	ul.nav li {
		padding: 0;
		display:inline;
	}

		ul.nav li a {
			color          : white;
			text-align     : center;
			padding        : 14px 16px;
			text-decoration: none;
			border-bottom  : none;
			display        : inline-block;
		}

		ul.nav li a:hover {
			background-color: #333333;
		}

/* Wrapper */
.wrapper {
	padding-top: 0;
}

.inner ul li {
	list-style-type: none;
}

/* Title */
h3.title {
	margin-top    : 2em;
	border-bottom : 1px solid;
	padding-bottom: 0.5em; 
}

/* Item */
ul.item li {
	list-style-type: none;
	font-size      : 0.8em;
}

ul.item li:before {
  content      : "-";
  padding-right: 1em;
}

/* Article */
.article-inner {
	padding-top   : 3em;
	padding-left  : auto;
	padding-right : auto;
	padding-bottom: 2em;
}

.article-title {
	display      : inline-block;
	margin-top   : 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid;
	font-size    : 1.2em;
}

.article-inner p {
	font-size: 0.9em;
	margin   : 1em;
}

.article-inner p a {
	border-bottom: 1px dotted;
}

	.article-inner p a:hover {
		border-bottom-color: transparent;
	}

.article-inner h4 {
	margin-top: 2em;
}

.article-inner code {
	font-size: 1em;
	margin   : 0;
}

.article-inner img {
	max-width : 70%;
	max-height: 70%;
	border    : 1px solid #333333;
}

.article-inner em {
	border-bottom: 1px solid;
}

.article-inner strong {
	border-bottom: 1px solid;
}

.article-inner ul {
	font-size: 0.9em;
}

.back-link {
	display   : block;
	margin-top: 2em;
	text-align: center;
	font-size : 0.9em;
}