.wrapper {
    padding-top: 0;
}

ul.nav {
    list-style-type : none;
    margin          : 0;
    padding         : 0;
    overflow        : hidden;
    background-color: #333;
    text-align      :center;
}

ul.nav li {
    padding: 0;
    display:inline;
}

ul.nav li a {

    color          : white;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
    border-bottom  : none;
    display        :inline-block;
}

ul.nav li a:hover {
    background-color: gray;
}