/* Table */
table {
	margin   : 0 auto 2em auto;
	width    : 95%;
	font-size: 0.8em;
	table-layout: fixed;
}
	
	table thead th {
		font-size: 1.2em;
	}

	table tbody tr {
		border      : 0;
		border-left : 0;
		border-right: 0;
	}

		table tbody tr:nth-child(n) {
			background-color: transparent;
		}

	table .td-title{
		font-weight: bold;
		text-align : left;
		font-size  : 1.2em;
	}
	
	table .td-content{
		word-wrap: break-word;
	}

	table .td-date{
		text-align: right;
		font-style: italic;
	}


