/* Table */
table {
	margin   : 0 auto 2em auto;
	width    : 95%;
	font-size: 0.8em;
	table-layout: fixed;
}
	
	table thead th {
		font-size: 1.2em;
	}

	table tbody tr {
		border      : 0;
		border-left : 0;
		border-right: 0;
	}

		table tbody tr:nth-child(n) {
			background-color: transparent;
		}

	table td.td-title{
		font-weight: bold;
		text-align : left;
		font-size  : 1.2em;
	}
	
	table td.td-content{
		word-wrap: break-word;
	}

	table td.td-date{
		text-align: right;
	}

	table tr td ul {
		margin: 0;
	}

.inner {
	padding: 0 2em;
}

.category {
	color         : #fff;
	letter-spacing: 2px;
	font-size     : 1em;
	font-weight   : 600;
	padding       : 0 0.5em 0.5em 0.5em;
	text-align    : left;
	border-bottom : 2px solid;
	margin-bottom : 1em;
	margin-top    : 2em;
}

.content {
	margin-left  : 1em;
	margin-bottom: 1em;
}

.title-wrapper {
	margin-bottom: 0.5em;
}

.title {
	float      : left;
	font-weight: bold;
}

.location {
	float      : left;
	font-size  : 0.8em;
	margin-left: 4em;
}

.date {
	float    : right;
	font-size: 0.8em;
}

.clearfix {
	clear: both;
}

.edu-detail {
	font-size    : 0.8em;
	margin-bottom: 0;
}

.work-detail {
	font-size    : 0.8em;
	margin-bottom: 0;
}

/* Download Button */
#download-button {
	margin: 3em auto 0;
	text-align: center;
}
