<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Tso-Liang Wu | Home</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css"/>
		<!-- Insert CSS Here -->
		{{page.css}}
		<link rel="icon" tyep="image/x-icon" href="{{site.baseurl}}/images/favicon.ico"/>
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="{{site.baseurl}}/index.html">Tso-Liang Wu</a></h1>
				<nav id="nav">
					<ul>
						<li class="special">
							<!-- Menu -->
							<a href="#menu" class="menuToggle"><span>Menu</span></a>
							<div id="menu">
								<ul>
									<li><a href="{{site.baseurl}}/index.html">Home</a></li>
									<li><a href="{{site.baseurl}}/about.html">About</a></li>
									<li><a href="{{site.baseurl}}/resume.html">Résumé</a></li>
									<li><a href="{{site.baseurl}}/learning-note.html">Learning Note</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</header>

			<!-- Insert Content Here -->
			{{content}}

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.facebook.com/profile.php?id=100004394132456" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://tw.linkedin.com/in/tsoliangwu" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					<li><a href="https://github.com/tsoliangwu0130" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:tsoliangwu0130@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					<li><a href="tel:1-541-908-5933" class="icon fa-mobile"><span class="label">Mobile</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Tso-Liang Wu powered by <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>
		</div>

		<!-- Scripts -->
		<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
		<script src="{{site.baseurl}}/assets/js/jquery.scrollex.min.js"></script>
		<script src="{{site.baseurl}}/assets/js/jquery.scrolly.min.js"></script>
		<script src="{{site.baseurl}}/assets/js/skel.min.js"></script>
		<script src="{{site.baseurl}}/assets/js/util.js"></script>
		<script src="{{site.baseurl}}/assets/js/main.js"></script>
		<script src="{{site.baseurl}}/assets/js/hyphenate.js" type="text/javascript"></script>
	</body>
</html>